
.post-list {
    display: flex;
    flex-direction: column;
    border-bottom: 1px dotted gray;
    color: black
}


.top{
    flex-grow: 1;
    color:rgb(156, 156, 156);
}
.middle{
    flex-grow: 4;
}
.bottom{
    flex-grow: 2;
    display:flex;
    flex-direction: column;
    color:rgb(133, 133, 133);
}

.bottom-top{
    flex-grow: 1;

}
.bottom-bottom{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
.post-author{
    font-size: .75rem;
    text-align: end;
}


.post-id {
    font-size: .75rem;
}
.post-title{
    text-align: left;
    font-weight: 500;
}
.post-date{
    font-size: .75rem;
    text-align: center;
}
.post-views{
    font-size: .75rem;
    text-align: center;
    margin-right: .5rem;
}

.post-list:hover {
    background: rgb(214, 214, 214);
}
.post-list + .post-list {
    border-top: 1px solid red;
}
.post-title {
    text-decoration: none;
}
.posts-wrapper {
    margin-top: 1rem;
}

.posts-header-no {
    width:33%;
}.posts-header-title {
    width:33%;
    text-align: center;
}.posts-header-author-date {
    width:33%;
    text-align: right;
}
.posts-header {
    display : flex;
    border-bottom: 1px solid black;
}
.post-tail {
    margin-top: 1rem;
    display: flex;
    float: right;

}
.post-link {
    text-align: center;
    width: 50px;
    background: black;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    float:end;
    margin-bottom: 7rem;

}
.post-list-link {
    text-decoration: none;
}