.comment{
    margin-bottom: 5rem;
}
.comment-header{
 font-weight: bold;
 font-size: large;
 border-bottom: 1px black solid;
 padding-bottom: .5rem;
 margin-bottom: .5rem;
}
.comment-commentlist {
    border-top: 1px gray dotted;
    margin-top: 1rem;
}

.body {
    margin-bottom: 6rem;
}

.post-post-like-wrapper {
    margin-bottom: 1rem;
}

.post-delete-button{
    text-align: center;
}


.modal {
    font-size: 12px;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }