.comment {
    margin-bottom: 5rem;
}
.comment-header {
    font-weight: bold;
    font-size: large;
    border-bottom: 1px black solid;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}
.comment-commentlist {
    border-top: 1px gray dotted;
    margin-top: 1rem;
}

.body {
    margin-bottom: 6rem;
}

.post-post-like-wrapper {
    margin-bottom: 1rem;
}

.modal {
    font-size: 20px;
}
.modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}
.modal > .content {
    width: 100%;
    padding: 10px 5px;
}
.modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}
.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}

.post-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px black solid;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.post-nav-bar-link {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    background: black;
    border-radius: 5px;
    border-right: 1px solid white;
}
.post-nav-bar-link:hover {
    cursor: pointer;
    background: gray;
}
