.header {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.navbar {
    margin-left: auto;
}
.input {
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    padding : .2rem;
    float: right;
}
.header-text {
    font-weight: 700;
    font-size: 4rem;
}
.menu {
    background: gray;

    display : flex;
    margin-top: 1rem;

}

.menu-item {
    background : black;
    color: white;
    flex : 1;
    padding-top: .5rem;
    padding-bottom: .5rem;
    align-items: center;
    text-align: center;

    /* 링크 자동생성된 밑줄 제거 */
    text-decoration: none; 

}
.menu-item :hover {
    color: gray;

}
.menu-item:active, .menu-item.active {
    background: gray;

}
.menu-item + .menu-item {
    border-left: 1px solid white;
}