.header {
    display: flex;
    flex-direction: column;
    flex: 1;

}

.header-text {
    font-weight: 700;
    font-size: 4rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
.menu {
    background: gray;

    display : flex;
    margin-top: 1rem;

    margin-left: 1rem;
    margin-right: 1rem;
}

.menu-item {
    background : black;
    color: white;
    flex : 1;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    text-align: center;
}
.menu-item + .menu-item {
    border-left: 1px solid white;
}