.header {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.input {
    flex: 1;

}
.header-text {
    font-weight: 700;
    font-size: 4rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
.menu {
    background: gray;

    display : flex;
    margin-top: 1rem;

    margin-left: 1rem;
    margin-right: 1rem;
}

.menu-item {
    background : black;
    color: white;
    flex : 1;
    padding-top: .5rem;
    padding-bottom: .5rem;
    align-items: center;
    text-align: center;

    /* 링크 자동생성된 밑줄 제거 */
    text-decoration: none; 

}
.menu-item :hover {
    color: gray;

}
.menu-item:active, .menu-item.active {
    background: gray;

}
.menu-item + .menu-item {
    border-left: 1px solid white;
}