.button {
    background: black;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-decoration-line: none;
    margin-left: .5rem;
    margin-right: .5rem;
    padding-left: .2rem;
    padding-right: .2rem;
}
.button2 {
    
}
.nav-bar {
    display: flex;
    flex-direction: row;
    
}